<div class="dropcart">
	<ul class="dropcart__list">
		{% for item in cart_getter_service.getCart().getCartItem() %}
			<li class="dropcart__item">
				<div class="dropcart__item-image image image--type--product">
					<a class="image__body" href="/product/{{item.product.id}}">
						<img class="image__tag" src="{{ image(item.product.images[0]) }}" alt="">
					</a>
				</div>
				<div class="dropcart__item-info">
					<div class="dropcart__item-name">
						<a href="/product/{{item.product.id}}">{{ item.product.name }}</a>
					</div>
					{% if item.options is defined %}
						<ul class="dropcart__item-features">
							{% for option in item.options %}
								<li>{{ option.name }}:
									{{ option.value }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					<div class="dropcart__item-meta">
						<div class="dropcart__item-quantity">{{ item.amount }}</div>
						<div class="dropcart__item-price">{{ item.product.price }}</div>
					</div>
				</div>
				<button onclick="cartRemoveProduct(this,{{item.id}})" type="button" class="dropcart__item-remove">
					{{ svg('cross-10.svg') }}
					<div class="dropcart__remove-loader dropcart__remove-loader--hidden btn btn-light btn-loading btn-icon"></div>
				</button>

			</li>
			<li class="dropcart__divider" role="presentation"></li>
		{% endfor %}
	</ul>
	<div class="dropcart__totals">
		<table>
			<tr>
				<th>Razem:
				</th>
				<td>{{ cartItems|reduce((sum, item) => sum + (item.product.price * item.amount)) }}
					zł</td>
			</tr>
		</table>
	</div>
	<div class="dropcart__actions">
		<a href="/cart" class="btn btn-secondary">Koszyk</a>
		<a href="/checkout" class="btn btn-primary">Zamów</a>
	</div>
</div>
