{% set topbar %}
{% set user = app.user %}
{% set topbar_classes = classnames('topbar', {
'topbar--spaceship-end': global_header_layout == 'spaceship', 'topbar--classic':
global_header_layout == 'classic', }) %}

<div class="{{ topbar_classes }}">
	{% if global_header_layout == 'classic' %}
		<div class="topbar__item-text">
			<a class="topbar__link" href="/about">O nas</a>
		</div>
		<div class="topbar__item-text">
			<a class="topbar__link" href="/contact">Kontakt</a>
		</div>
		<div class="topbar__item-text">
			<a class="topbar__link" href="">Store Location</a>
		</div>
		<div class="topbar__item-text">
			<a class="topbar__link" href="track-order.html">Track Order</a>
		</div>
		<div class="topbar__item-text">
			<a class="topbar__link" href="blog-classic-right-sidebar.html">Blog</a>
		</div>
		<div class="topbar__item-spring"></div>
	{% endif %}

	{#<div class="topbar__item-button topbar__menu">
		<button class="topbar__button topbar__button--has-arrow topbar__menu-button" type="button">
			<span class="topbar__button-label">Waluta:</span>
			<span class="topbar__button-title">PLN</span>
			<span class="topbar__button-arrow">{{
        svg("arrow-down-sm-7x5.svg")
      }}</span>
		</button>
		<div class="topbar__menu-body">
			<a class="topbar__menu-item" href="#">€ Euro</a>
			<a class="topbar__menu-item" href="#">£ Pound Sterling</a>
			<a class="topbar__menu-item" href="#">$ US Dollar</a>
			<a class="topbar__menu-item" href="#">₽ Russian Ruble</a>
		</div>
	</div>
	<div class="topbar__menu">
		<button class="topbar__button topbar__button--has-arrow topbar__menu-button" type="button">
			<span class="topbar__button-label">Język:</span>
			<span class="topbar__button-title">PL</span>
			<span class="topbar__button-arrow">{{
        svg("arrow-down-sm-7x5.svg")
      }}</span>
		</button>
		<div class="topbar__menu-body"></div>
	</div>#}
</div>
{% endset %}

<div class="header">
	<div class="header__megamenu-area megamenu-area"></div>
	{% if global_header_layout == 'spaceship' %}
		<div class="header__topbar-start-bg"></div>
		<div class="header__topbar-start">
			<div class="topbar topbar--spaceship-start">
				<div class="topbar__item-text d-none d-xxl-flex">
					Zadzwoń: 88 835 32732
				</div>
				<div class="topbar__item-text">
					<a class="topbar__link" href="/about">O nas</a>
				</div>
				<div class="topbar__item-text">
					<a class="topbar__link" href="/contact">Kontakt</a>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="topbar__item-text">
						<a class="topbar__link" href="/account-dashboard">Admin</a>
					</div>
				{% endif %}

			</div>
		</div>
		<div class="header__topbar-end-bg"></div>
		<div class="header__topbar-end">
			{{ topbar }}
		</div>
	{% endif %}
	{% if global_header_layout == 'classic' %}
		<div class="header__topbar-classic-bg"></div>
		<div class="header__topbar-classic">
			{{ topbar }}
		</div>
	{% endif %}
	<div class="header__navbar">

		<div class="header__navbar-menu">
			{% include '/header/main-menu.twig' %}
		</div>
		{% if global_header_layout == 'classic' %}
			<div class="header__navbar-phone phone">
				<a href="" class="phone__body">
					<div class="phone__title">Zadzwoń:</div>
					<div class="phone__number">800 060-0730</div>
				</a>
			</div>
		{% endif %}
	</div>
	<div class="header__logo">{% include '/header/logo.twig' %}</div>
	<div class="header__search">{% include '/header/search.twig' %}</div>
	<div class="header__indicators">
		{#<div class="indicator">
			<a href="wishlist.html" class="indicator__button">
				<span class="indicator__icon">
					{{ svg("heart-32.svg") }}
				</span>
			</a>
		</div>#}
		<div class="indicator indicator--trigger--click">
			<a class="indicator__button">
				<span class="indicator__icon">
					{{ svg("person-32.svg") }}
				</span>
				{% if global_header_layout == 'classic' or true %}
					<span class="indicator__title">Witaj,
						{{ app.user is null or is_granted('ROLE_UNAUTHENTICATED') ? 'Zaloguj Się' : app.user.email }}</span>
					<span class="indicator__value">Moje Konto</span>
				{% endif %}
			</a>
			<div class="indicator__content">
				<div class="account-menu">
					{% if app.user is null or is_granted('ROLE_UNAUTHENTICATED') %}


						<form class="account-menu__form" action="/sign-in" method="POST">
							<div class="account-menu__form-title">Zaloguj Się</div>
							<div style="font-size: 12px;">
								<strong>Konto testowe:</strong>
								<ul style="padding-left: 12px;">
									<li>EMAIL: test@test.com</li>
									<li>HASŁO: test123</li>
								</ul>
							</div>
							<div class="form-group">
								<label for="header-signin-email" class="sr-only">Adres Email</label>
								<input name="email" id="header-signin-email" type="email" class="form-control form-control-sm" placeholder="Adress email" value='test@test.com'/>
							</div>
							<div class="form-group">
								<label for="header-signin-password" class="sr-only">Hasło</label>
								<div class="account-menu__form-forgot">
									<input name="password" id="header-signin-password" type="password" class="form-control form-control-sm" placeholder="Hasło" value='test123'/>
									<a href="" class="account-menu__form-forgot-link">Zapomniałeś?</a>
								</div>
							</div>

							<div class="form-group account-menu__form-button">
								<button type="submit" class="btn btn-primary btn-sm">
									Zaloguj
								</button>
							</div>
							<div class="account-menu__form-link">
								<a href="/account-login">Stwórz Konto</a>
							</div>
						</form>
					{% else %}
						<div class="account-menu__divider"></div>
						<a href="/account-dashboard" class="account-menu__user">
							<div class="account-menu__user-avatar">
								<img src="{{image('images/avatars/avatar-4.png')}}" alt=""/>
							</div>
							<div class="account-menu__user-info">
								<div class="account-menu__user-name">John</div>
								<div class="account-menu__user-email">{{ app.user.email }}</div>
							</div>
						</a>
						<div class="account-menu__divider"></div>
						<ul class="account-menu__links">
							<li>
								<a href="/account-dashboard">Pulpit</a>
							</li>
							<li>
								<a href="account-orders.html">Historia Zamówień</a>
							</li>
						</ul>
						<div class="account-menu__divider"></div>
						<ul class="account-menu__links">
							<li>
								<a class="logout-btn" href="/logout">Wyloguj</a>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="indicator indicator--trigger--click" id="cart-dropdown">
			{% set cartItems = cart_getter_service.getCart().getCartItem() %}
			{% if cartItems is not empty %}
				<a class="indicator__button">
					<span class="indicator__icon">
						{{ svg("cart-32.svg") }}
						<span class="indicator__counter">{{ cartItems|reduce((sum, item) => sum + item.amount) }}</span>
					</span>
					<span class="indicator__title">Koszyk</span>
					<span class="indicator__value">{{ cartItems|reduce((sum, item) => sum + (item.product.price * item.amount)) }}
						zł</span>
				</a>
				<div class="indicator__content">
					{% include '/header/dropcart.twig' %}
				</div>
			{% else %}
				<a class="indicator__button">
					<span class="indicator__icon">
						{{ svg("cart-32.svg") }}
					</span>
					<span class="indicator__title">Koszyk</span>
					<span class="indicator__value">Pusty</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
