{% set global_page_title = 'O Nas - HervestSolutions' %}
{% set global_page_description = '' %}

{% set teammates = data('site-teammates.json') %}
{% set testimonials = data('site-testimonials.json') %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    <div class="about">
        <div class="about__body">
            <div class="about__image">
                <div
                    class="about__image-bg"
                    style="background-image: url('{{ image('images/about.jpg', {size: 1903}) }}');"
                ></div>
                {% include '/components/decor.twig' with {inputs: {
                    type: 'bottom',
                    classes: 'about__image-decor',
                }} %}
            </div>

            <div class="about__card">
                <div class="about__card-title">O Nas</div>
                <div class="about__card-text">
                    Specjalizujemy się w sprzedaży i serwisie maszyn do produkcji rolnej. Posiadamy pełną ofertę maszyn firm: 
					{% for producer in producer_getter_service.getProducers()%}{{producer.name|upper}}{% if not loop.last%}, {%endif%}{%endfor%}
					i wielu innych. Oferujemy maszyny nowe jak i używane z obsługą finansowania i z możliwością skorzystania z pakietu ubezpieczeń. W sprzedaży posiadamy szeroką gamę części zamiennych oraz kompleksowy serwis podparty fachowym doradztwem techniczym.
                </div>
                <div class="about__card-author">Wilhelm Słupek, CEO HervestSolutions</div>
                <div class="about__card-signature">
                    <img src="{{image('images/signature.png')}}" width="160" height="55" alt="">
                </div>
            </div>

            <div class="about__indicators">
                <div class="about__indicators-body">
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">350</div>
                        <div class="about__indicators-item-title">Sklepy w całej Polsce</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">80 000</div>
                        <div class="about__indicators-item-title">Oryginalnych części</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">5 000</div>
                        <div class="about__indicators-item-title">Zadowolonych klientów</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'divider-xl'}} %}

    <div class="block block-teammates">
        <div class="container container--max--xl">
            <div class="block-teammates__title">Profesjonalny Zespół</div>
            <div class="block-teammates__subtitle">Poznaj naszych specjalistów</div>
            <div class="block-teammates__list">
                <div class="owl-carousel">
                    {% for teammate in teammates %}
                        <div class="block-teammates__item teammate">
                            <div class="teammate__avatar">
                                <img src="{{ image(teammate.avatar, {size: 206}) }}" alt="">
                            </div>
                            <div class="teammate__info">
                                <div class="teammate__name">{{ teammate.name }}</div>
                                <div class="teammate__position">{{ teammate.position }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'divider-xl'}} %}

    <div class="block block-reviews">
        <div class="container">
            <div class="block-reviews__title">Referencje</div>
            <div class="block-reviews__subtitle">W trakcie naszej działalności zebraliśmy<br>setki pozytywnych opini.</div>
            <div class="block-reviews__list">
                <div class="owl-carousel">
                    {% for testimonial in testimonials %}
                        <div class="block-reviews__item">
                            <div class="block-reviews__item-avatar">
                                <img src="{{ image(testimonial.avatar, {size: 190}) }}" alt="">
                            </div>
                            <div class="block-reviews__item-content">
                                <div class="block-reviews__item-text">{{ testimonial.review }}</div>
                                <div class="block-reviews__item-meta">
                                    <div class="block-reviews__item-author">
                                        {{ testimonial.name }}, {{ testimonial.position }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}
