{% set global_page_title = 'Szczegóły Zamówienia — HervestSolutions' %}
{% set global_page_description = '' %}
{% set global_current_account_page = 'account-order-details.html' %}

{% extends '/layouts/account.twig' %}

{% block account_body %}
    <div class="card">
        <div class="order-header">
            <div class="order-header__actions">
                <a href="/account-orders" class="btn btn-xs btn-secondary">Historia Zamówień</a>
            </div>
            <h5 class="order-header__title">Zamówienie #{{ order.id }}</h5>
            <div class="order-header__subtitle">
                Złożono <mark>{{ order.createdAt|date('d-m-Y') }}</mark> i jest obecnie <mark>w realizacji</mark>.
            </div>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Koszt</th>
                    </tr>
                    </thead>
                    <tbody class="card-table__body card-table__body--merge-rows">
                    {% for item in order.items %}
                        <tr>
                            <td>{{ item.product.name }} × {{ item.amount }}</td>
                            <td>{{ (item.product.price * item.amount) }} zł</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        <tbody class="card-table__body card-table__body--merge-rows">
							<tr>
								<th>Dostawa</th>
								<td>0 zł</td>
							</tr>
                        </tbody>
                    <tfoot>
                    <tr>
                        <th>Razem</th>
                        <td>{{order.items|reduce((sum, item) => sum + (item.product.price * item.amount)) }} zł</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-3 no-gutters mx-n2">
        <div class="col-sm-12 col-12 px-2">
            <div class="card address-card address-card--featured">
                <div  class="address-card__badge tag-badge tag-badge--theme">
                    Dane Adresowe
                </div>
                <div class="address-card__body">
                    <div class="address-card__name">{{order.firstName}} {{order.lastName}}</div>
                    <div class="address-card__row">
                        {{order.country}}<br>
                        {{order.city}}<br>
                        {{order.street}}
                    </div>
                    <div class="address-card__row">
                        <div class="address-card__row-title">Numer Telefonu</div>
                        <div class="address-card__row-content">{{order.phone}}</div>
                    </div>
                    <div class="address-card__row">
                        <div class="address-card__row-title">Adres Email</div>
                        <div class="address-card__row-content">{{order.email}}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}