{% set global_page_title = 'Account Dashboard — Red Parts' %}
{% set global_page_description = '' %}
{% set global_current_account_page = 'account-dashboard' %}

{% set address = data('account-addresses.json')|first %}
{% set orders = data('account-orders.json') %}

{% extends '/layouts/account.twig' %}

{% block account_body %}
    <div class="dashboard">
        <div class="dashboard__profile card profile-card">
            <div class="card-body profile-card__body">
                <div class="profile-card__avatar">
                    <img src="{{image('images/avatars/avatar-4.png')}}" alt="">
                </div>
                <div class="profile-card__name">{{app.user.firstName is empty ? app.user.email : app.user.firstName}}</div>
                {% if app.user.firstName is not empty %}<div class="profile-card__email">{{app.user.email}}</div>{% endif %}
                <div class="profile-card__edit mt-1">
                    <a href="/account-profile" class="btn btn-secondary btn-sm">Edytuj Profil</a>
                </div>
            </div>
        </div>
        <div class="dashboard__address card address-card address-card--featured">
            <div class="address-card__body">
                <div class="address-card__name">{{ app.user.firstName is empty or app.user.lastName is empty ? 'Użytkownik' : app.user.firstName~' '~app.user.lastName}}</div>
                <div class="address-card__row">
					{%if app.user.country is empty or app.user.city is empty or app.user.street is empty %}
					Nie ustawiono adresu
					{% else %}
					{{app.user.country}}<br>
					{{app.user.city}}<br>
					{{app.user.street}}
					{%endif%}
                </div>
                <div class="address-card__row">
                    <div class="address-card__row-title">Numer Telefonu</div>
                    <div class="address-card__row-content">{{app.user.phone is empty ? 'Nie ustawiono numeru telefonu' : app.user.phone}}</div>
                </div>
                <div class="address-card__row">
                    <div class="address-card__row-title">Adres Email</div>
                    <div class="address-card__row-content">{{ address.email }}</div>
                </div>
                <div class="address-card__footer">
                    <a href="/account-edit-address">Edytuj Adres</a>
                </div>
            </div>
        </div>
        <div class="dashboard__orders card">
            <div class="card-header">
                <h5>Recent Orders</h5>
            </div>
            <div class="card-divider"></div>
            <div class="card-table">
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders[:3] %}
                            <tr>
                                <td><a href="account-order-details.html">#{{ order.id }}</a></td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
