{% set global_page_title = 'Podsumowanie — Agroserwis' %}
{% set global_page_description = '' %}

{% from '/macros/controls.twig' import input_check, input_radio %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    {% include '/blocks/block-header.twig' with {inputs: {
        title: 'Podsumowanie Zamówienia',
    }} %}

    <form action="/submit-order" method="post" class="checkout block" onSubmit="validateForm(this, event)">
        <div class="container container--max--xl">
            <div class="row">

                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="card mb-lg-0">
                        <div class="card-body card-body--padding--2">
                            <h3 class="card-title">Adres Rozliczeniowy</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="checkout-first-name">Imię</label>
                                    <input type="text" class="form-control" id="checkout-first-name" placeholder="Imię" value="{{ app.user is null ? '' : app.user.firstName}}" name="firstName" data-validate="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-last-name">Nazwisko</label>
                                    <input type="text" class="form-control" id="checkout-last-name" placeholder="Nazwisko" value="{{ app.user is null ? '' : app.user.lastName}}" name="lastName" data-validate="required">
                                </div>
                            </div>

							<div class="form-group">
								<label for="checkout-country">Kraj</label>
								<select id="checkout-country" class="form-control form-control-select2" name="country" data-validate="required">
									<option value="">--Wybierz Kraj--</option>
									<option value="Niemcy" {% if app.user is not null and app.user.country == 'Niemcy' %}selected{% endif %}>Niemcy</option>
									<option value="Polska" {% if app.user is not null and app.user.country == 'Polska' %}selected{% endif %}>Polska</option>
									<option value="Wielka Brytania" {% if app.user is not null and app.user.country == 'Wielka Brytania' %}selected{% endif %}>Wielka Brytania</option>
								</select>
							</div>
                            <div class="form-group">
                                <label for="checkout-city">Miasto i kod pocztowy</label>
                                <input type="text" class="form-control" id="checkout-city" placeholder="Misto i kod pocztowy" value="{{ app.user is null ? '' : app.user.city}}" name="city" data-validate="required,minLength-5">
                            </div>
                            <div class="form-group">
                                <label for="checkout-street-address">Ulica i numer budynku</label>
                                <input type="text" class="form-control" id="checkout-street-address" placeholder="Ulica i number budynku" value="{{ app.user is null ? '' : app.user.street}}" name="street" data-validate="required,minLength-5">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="checkout-email">Adres email</label>
                                    <input class="form-control" id="checkout-email" placeholder="Adres email" value="{{ app.user is null ? '' : app.user.email}}" name="email" data-validate="required,email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="checkout-phone">Numer telefonu</label>
                                    <input type="text" class="form-control" id="checkout-phone" placeholder="Numer telefonu" value="{{ app.user is null ? '' : app.user.phone}}" name="phone" data-validate="required,phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                    <div class="card mb-0">
                        <div class="card-body card-body--padding--2">
                            <h3 class="card-title">Twoje Zamówienie</h3>

                            <table class="checkout__totals">
                                <thead class="checkout__totals-header">
                                <tr>
                                    <th>Produkt</th>
                                    <th>Koszt</th>
                                </tr>
                                </thead>
                                <tbody class="checkout__totals-products">
                                {% for cartItem in cart.cartItem %}
                                    <tr>
                                        <td>{{ cartItem.product.name }} × {{ cartItem.amount }}</td>
                                        <td>{{ cartItem.amount * cartItem.product.price }} zł</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tbody class="checkout__totals-subtotals">
									<tr>
										<th>Dostawa</th>
										<td>{{ 0 }}</td>
									</tr>
                                </tbody>
                                <tfoot class="checkout__totals-footer">
                                <tr>
                                    <th>Razem</th>
                                    <td style="white-space: pre">{{cart.cartItem|reduce((sum, item) => sum + item.product.price * item.amount)}} zł</td>
                                </tr>
                                </tfoot>
                            </table>

                            <div class="checkout__payment-methods payment-methods">
                                <ul class="payment-methods__list">
                                    <li class="payment-methods__item payment-methods__item--active">
                                        <label class="payment-methods__item-header">
                                            {{ input_radio({
                                                classes: 'payment-methods__item-radio',
                                                name: 'paymentMethod',
												value: 'payOnDelivery',
                                                checked: true,
                                            }) }}
                                            <span class="payment-methods__item-title">Płatność przy odbiorze</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-details text-muted">
                                                Zapłać kurierowi przy odbiorze paczki.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <button type="submit" class="btn btn-primary btn-xl btn-block">Złóż Zamówienie</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}