{% set global_page_title = 'Potwierdzenie Zamówienia — HervestSolutions' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    {% include '/blocks/block-space.twig' with {inputs: {layout: 'spaceship-ledge-height'}} %}

    <div class="block order-success">
        <div class="container">
            <div class="order-success__body">
                <div class="order-success__header">
                    <div class="order-success__icon">
                        {{ svg('check-100.svg') }}
                    </div>
                    <h1 class="order-success__title">Dziękujemy za zakupy</h1>
                    <div class="order-success__subtitle">Twoje zamówienie zostało złożone</div>
                    <div class="order-success__actions">
                        <a href="/" class="btn btn-sm btn-secondary">Wróć do strony głównej</a>
                    </div>
                </div>

                <div class="card order-success__meta">
                    <ul class="order-success__meta-list">
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Numer zamówienia:</span>
                            <span class="order-success__meta-value">#{{ order.id }}</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Data złożenia zamówienia:</span>
                            <span class="order-success__meta-value">{{ order.createdAt|date('d-m-Y') }}</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Kwota:</span>
                            <span class="order-success__meta-value">{{ order.items|reduce((sum, item) => sum + (item.product.price * item.amount)) }} zł</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Metoda płatności:</span>
                            <span class="order-success__meta-value">{{ order.paymentMethod == 'payOnDelivery' ? 'Płatność przy dostawie' : 'Inna' }}</span>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="order-list">
                        <table>
                            <thead class="order-list__header">
                            <tr>
                                <th class="order-list__column-label" colspan="2">Produkt</th>
                                <th class="order-list__column-quantity">Ilość</th>
                                <th class="order-list__column-total">Kwota</th>
                            </tr>
                            </thead>
                            <tbody class="order-list__products">
                            {% for item in order.items %}
                                <tr>
                                    <td class="order-list__column-image">
                                        <div class="image image--type--product">
                                            <a href="/product/{{item.product.id}}" class="image__body">
                                                <img class="image__tag" src="{{ image(item.product.images[0], {size: 40}) }}" alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="order-list__column-product">
                                        <a href="/product/{{item.product.id}}">{{ item.product.name }}</a>
                                        {% if item.product.features|length > 0 %}
                                            <div class="order-list__options">
                                                <ul class="order-list__options-list">
                                                    {% for feature in item.product.features %}
                                                        <li  class="order-list__options-item">
                                                            <span class="order-list__options-value">
                                                                {{ feature }}
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="order-list__column-quantity" data-title="Quantity:">
                                        {{ item.amount }}
                                    </td>
                                    <td class="order-list__column-total">
                                        {{ (item.product.price * item.amount) }} zł
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                <tbody class="order-list__subtotals">
									<tr>
										<th class="order-list__column-label" colspan="3">Dostawa</th>
										<td class="order-list__column-total">0 zł</td>
									</tr>
                                </tbody>
                            <tfoot class="order-list__footer">
                            <tr>
                                <th class="order-list__column-label" colspan="3">Razem</th>
                                <td class="order-list__column-total" style="white-space: nowrap">{{order.items|reduce((sum, item) => sum + (item.product.price * item.amount)) }} zł</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="order-success__addresses">
                    <div class="order-success__address card address-card">
                        <div  class="address-card__badge tag-badge tag-badge--theme">
                            Dane Adresowe
                        </div>
                        <div class="address-card__body">
                            <div class="address-card__name">{{order.firstName}} {{order.lastName}}</div>
                            <div class="address-card__row">
                                {{ order.country }}<br>
                                {{ order.city }}<br>
                                {{ order.street }}
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Numer telefonu</div>
                                <div class="address-card__row-content">{{ order.phone }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email</div>
                                <div class="address-card__row-content">{{ order.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}