{% set global_page_title = 'Edycja Produktu' %}
{% set global_page_description = '' %}


{% set layout = 'full' %}
{% set sidebar = 'start' %}
{% extends '/layouts/default.twig' %}

{% set root_classes =
  classnames(
    'block-split',
    {
      'block-split--has-sidebar': layout == 'sidebar'
    }
  )
%}
{% set product_classes = classnames('product', 'product--layout--' ~ layout) %}


{% block site_body %}


	<div class="mt-5 {{ root_classes }}">
		<div class="container">
			<div class="block-split__row row no-gutters">
				{% if layout == 'sidebar' and sidebar == 'start' %}
					{{ sidebar_template }}
				{% endif %}
				<div class="block-split__item block-split__item-content col-auto">
					<div class="{{ product_classes }}">
						<div class="product__body">
							<div class="product__card product__card--one"></div>
							<div class="product__card product__card--two"></div>

							{% include '/components/product-gallery.twig' with {
                inputs: {
                  classes: 'product__gallery',
                  layout: 'product-' ~ layout,
                  image: product.images[0]
                }
              } %}

							<div class="product__header">
								<h1 class="product__title editable editable-name">
									{{ product.name }}
								</h1>

								<div class="product__subtitle">

									{% include '/components/status-badge.twig' with {
                    inputs: {
                      classes: 'product__fit',
                      style: 'success',
                      text: "SKU:
                #{product.product_number}",
                      tooltip: "SKU: #{product.product_number}",
                      icon: 'success'
                    }
                  } %}
								</div>
							</div>

							{% if layout == 'full' %}
								<div class="product__main">
									<div class="product__excerpt editable editable-description">
										Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quibusdam sunt modi, provident dolorum nostrum architecto vero accusantium quis magnam numquam neque commodi incidunt placeat, nihil, qui quae quas. Assumenda?
									</div>

									<div class="product__features">
										<div class="product__features-title">
											Key Features:
										</div>
										<ul class="features-list">
											{% for item in product.features %}
												<li>
													<i class="remove-feature fas fa-trash-alt"></i>
													<i class="move-feature-up fas fa-caret-square-up"></i>
													<i class="move-feature-down mr-5 fas fa-caret-square-down"></i>
													<span class="editable editable-feature">{{ item }}</span>
												</li>
											{% endfor %}
										</ul>
										<button class="add-feature mt-5 pa-0 btn btn-primary" style="font-size:10px">Dodaj nową ceche</button>

									</div>
								</div>
							{% endif %}

							<div class="product__info">
								<div class="product__info-card">
									<div class="product__info-body">
										<div class="product__badge tag-badge tag-badge--sale">
											Promocja
										</div>
										<div class="product__prices-stock">
											<div class="product__prices">

												<div class="product__price product__price--current">
													<span class="editable editable-price">{{ product.price }}</span>
													zł</div>
											</div>
											{% include '/components/status-badge.twig' with {
                        inputs: {
                          classes: 'product__stock',
                          style: 'success',
                          text: 'In
                    Stock',
                          tooltip: 'In Stock',
                          icon: 'success'
                        }
                      } %}
										</div>

										<div class="product__meta">
											<table>
												<tr>
													<th>
														SKU
													</th>
													<td class="editable editable-product-number">
														{{ product.product_number }}
													</td>
												</tr>
												<tr>
													<th>
														Producent
													</th>
													<td class="editable editable-brand">
														<a href="">Brandix</a>
													</td>
												</tr>
												<tr>
													<th>
														Numer sprzedawcy
													</th>
													<td class="editable editable-seller-number">
														BDX-750Z370-S
													</td>
												</tr>
												<tr>
													<th>
														Na stanie
													</th>
													<td>
														<span class="pr-2 editable editable-quantity">{{ product.quantity }}</span>
														szt
													</td>
												</tr>
											</table>
										</div>
									</div>

								</div>
								<button class="product-edition-save mx-auto my-5 btn btn-primary">
									<i class="far fa-save"></i>
									Zapisz zmiany
								</button>

							</div>
							{% include '/components/product-edition-gallery.twig' with {
                inputs: {
                  images: product.images[0]
                }
              } %}
							{% if layout == 'sidebar' and sidebar == 'end' %}
								{{ sidebar_template }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% include '/blocks/block-space.twig' with {
    inputs: {
      layout: 'before-footer'
    }
  } %}
		{% endblock %}
