<div class="quickview modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<button type="button" class="quickview__close">
			{{ svg('cross-12.svg') }}
		</button>
		<div class="quickview__body">
			{% include '/components/product-gallery.twig' with {inputs: {
                classes: 'quickview__gallery',
                layout: 'quickview',
				image: product.images[0]
            }} %}

			<div class="quickview__product">
				<div class="quickview__product-name">
					{{ product.name }}
				</div>
				<div class="quickview__product-meta">
					<table>
						<tr>
							<th>SKU</th>
							<td>{{product.sku}}</td>
						</tr>
						<tr>
							<th>Producent</th>
							<td>
								<a href="">{{product.producer.name|title}}</a>
							</td>
						</tr>
						<tr>
							<th>Kategoria</th>
							<td>{{product.category.name|title}}</td>
						</tr>
					</table>
				</div>
				<div class="quickview__product-description">
					{{product.shortDescription}}	
				</div>
				<div class="quickview__product-prices-stock">
					<div class="quickview__product-prices">
						<div class="quickview__product-price">{{product.price}}
							zł</div>
					</div>
				</div>
				<div class="quickview__product-actions">
					<div class="quickview__product-actions-item quickview__product-actions-item--quantity">
						<div class="input-number">
							<input class="input-number__input form-control" type="number" min="1" max={{product.quantity}} value="1" data-old-value="1">
							<div class="input-number__add"></div>
							<div class="input-number__sub"></div>
						</div>
					</div>
					<div class="quickview__product-actions-item quickview__product-actions-item--addtocart">
						<button onclick="cartAddProduct(this, {{product.id}}, 'INPUT_ADD')" class="btn btn-primary btn-block" style="position: relative">
							<div class="add-to-cart__spinner-border" style="left: 100%; transform: translate(10%, -50%)">
								<span class=" spinner-border spinner-border-sm text-secondary" role=" status" aria-hidden=" true"></span>
							</div>
							Dodaj do koszyka
						</button>
					</div>
				</div>
			</div>
		</div>
		<a href="/product/{{product.id}}" class="quickview__see-details">Szczegóły</a>
	</div>
</div>
