{#
// inputs:
#}

<div class="mobile-header">
    <div class="container">
        <div class="mobile-header__body">
            <button class="mobile-header__menu-button" type="button">
                {{ svg('menu-18x14.svg') }}
            </button>
            <a class="mobile-header__logo" href="/">
				<div class="logo__image">
					<img src="{{image('images/logo.png')}}" alt="" height="30px">
				</div>
            </a>
            <div class="mobile-header__search mobile-search">
                <form class="mobile-search__body">
                    <input type="text" class="mobile-search__input" placeholder="Wpisz nazwę szukanego przedmiotu">
                    <button type="submit" class="mobile-search__button mobile-search__button--search">
                        {{ svg('search-20.svg') }}
                    </button>
                    <button type="button" class="mobile-search__button mobile-search__button--close">
                        {{ svg('cross-20.svg') }}
                    </button>
                    <div class="mobile-search__field"></div>
                </form>
            </div>
            <div class="mobile-header__indicators">
                <div class="mobile-indicator mobile-indicator--search d-md-none">
                    <button type="button" class="mobile-indicator__button">
                        <span class="mobile-indicator__icon">{{ svg('search-20.svg') }}</span>
                    </button>
                </div>
                <div class="mobile-indicator d-none d-md-block">
                    <a href="/account-dashboard" class="mobile-indicator__button">
                        <span class="mobile-indicator__icon">{{ svg('person-20.svg') }}</span>
                    </a>
                </div>
                <div class="mobile-indicator">
                    <a href="/cart" class="mobile-indicator__button">
                        <span class="mobile-indicator__icon">
                            {{ svg('cart-20.svg') }}
                            <span class="mobile-indicator__counter">3</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
