{#
// inputs:
// - offcanvas: string - one of [none, mobile, always]
#}

{% set offcanvas = inputs.offcanvas %}
{% from '/macros/controls.twig' import input_radio, input_check %}
{% set root_classes = classnames('widget', 'widget-filters', 'widget-filters--offcanvas--'~offcanvas) %}
{% set checkedProducers = app.request.query.get('producer') ?: [] %}
{% set checkedCategory = app.request.query.get('category') ?: null %}
{% set priceFrom = app.request.query.get('priceFrom') ?: null %}
{% set priceTo = app.request.query.get('priceTo') ?: null %}

<form class="{{ root_classes }}" data-collapse data-collapse-opened-class="filter--opened">
	<div class="widget__header widget-filters__header">
		<h4>Filtry</h4>
	</div>

	<div class="widget-filters__list">
		<div class="widget-filters__item">

			<div class="filter filter--opened" data-collapse-item>
				<button type="button" class="filter__title" data-collapse-trigger>
					Producenci
					<span class="filter__arrow">{{ svg('arrow-rounded-down-12x7.svg') }}</span>
				</button>
				<div class="filter__body" data-collapse-content>
					<div class="filter__container">
						<div class="filter-list">
							<div class="filter-list__list">
								{% for producer in producer_getter_service.getProducers() %}
									<label class="filter-list__item">
											{{ input_check({
												classes: 'filter-list__input',
												value: producer.name,
												name: 'producer[]',
												checked: producer.name in checkedProducers,
												disabled: false,
											}) }}

										<span class="filter-list__title">
											{{producer.name|title}}
										</span>
										
										<span class="filter-list__counter">{{producer.getProducts().count}}</span>
										
									</label>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="filter filter--opened" data-collapse-item>
				<button type="button" class="filter__title" data-collapse-trigger>
					Kategorie
					<span class="filter__arrow">{{ svg('arrow-rounded-down-12x7.svg') }}</span>
				</button>
				<div class="filter__body" data-collapse-content>
					<div class="filter__container">
						<div class="filter-list">
							<div class="filter-list__list">
								{% for category in category_getter_service.getCategories() %}
									<label class="filter-list__item">
											{{ input_radio({
												classes: 'filter-list__input',
												value: category.name,
												name: 'category',
												checked: category.name == checkedCategory,
												disabled: false,
											}) }}

										<span class="filter-list__title">
											{{category.name|title}}
										</span>
										
										<span class="filter-list__counter">{{category.getProducts().count}}</span>
										
									</label>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="filter filter--opened" data-collapse-item>
				<button type="button" class="filter__title" data-collapse-trigger>
					Cena
					<span class="filter__arrow">{{ svg('arrow-rounded-down-12x7.svg') }}</span>
				</button>
				<div class="filter__body" data-collapse-content>
					<div class="filter__container">
						<div class="filter-price" data-min="0" data-max="5000" data-from="{{priceFrom is not null ? priceFrom : 0}}" data-to="{{priceTo is not null ? priceTo : 5000}}">
						<input id="filter__input-price_from" type="hidden" name="priceFrom" value="0"/>
						<input id="filter__input-price_to" type="hidden" name="priceTo" value="5000"/>
							<div class="filter-price__slider"></div>
							<div class="filter-price__title-button">
								<div class="filter-price__title">
									<span class="filter-price__min-value"></span>
									zł -
									<span class="filter-price__max-value"></span>
									zł
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="widget-filters__actions d-flex">
		<button class="btn btn-primary btn-sm">Filtruj</button>
		<a class="btn btn-secondary btn-sm" href='/shop'>Resetuj</a>
	</div>
</form>
