{#
// inputs:
#}

<div class="block-finder block">
    {% include '/components/decor.twig' with {inputs: {
        type: 'bottom',
        classes: 'block-finder__decor',
    }} %}
    <div
        class="block-finder__image"
        style="background-image: url('{{ image('images/big/combain.jpg', {size: [1903, 500]}) }}');"
    ></div>
    <div class="block-finder__body container container--max--xl">
        <div class="block-finder__title">Znajdź To Czego Szukasz Do Swojej Maszyny</div>
        <div class="block-finder__subtitle">Dziesiątki marek i tysiące produktów</div>
        <form class="block-finder__form" method="get" action="/shop">
            <div class="block-finder__form-control block-finder__form-control--select">
                <select name="producer[]" aria-label="Producer">
                    <option value="none">Wybierz Producenta</option>
					{%for producer in producer_getter_service.getProducers() %}
                    	<option value="{{producer.name}}">{{producer.name|title}}</option>
					{%endfor%}
                </select>
            </div>
            <div class="block-finder__form-control block-finder__form-control--select">
                <select name="category" aria-label="Category" disabled>
                    <option value="none">Wybierz Kategorie</option>
					{%for category in category_getter_service.getCategories() %}
                    	<option value="{{category.name}}">{{category.name|title}}</option>
					{%endfor%}
                </select>
            </div>
            <button class="block-finder__form-control block-finder__form-control--button" type="submit">Szukaj</button>
        </form>
    </div>
</div>
