{#
// inputs:
// - layout: string - one of [top-strip, bottom-strip] (default: top-strip)
#}

{% set layout = inputs.layout|default('top-strip') %}
{% set root_classes = classnames('block-features block', 'block-features--layout--'~layout) %}

<div class="{{ root_classes }}">
    <div class="container">
        <ul class="block-features__list">
            <li class="block-features__item">
                <div class="block-features__item-icon">
                    {{ svg('fi-free-delivery-48.svg') }}
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Darmowa Dostawa</div>
                    <div class="block-features__item-subtitle">Przy zamówieniach powyżej 200 zł</div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                    {{ svg('fi-24-hours-48.svg') }}
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Całodobowa Pomoc</div>
                    <div class="block-features__item-subtitle">Dzwoń kiedy chcesz</div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                    {{ svg('fi-payment-security-48.svg') }}
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Bezpieczeństwo</div>
                    <div class="block-features__item-subtitle">Jedynie bezpieczne metody płatności</div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                    {{ svg('fi-tag-48.svg') }}
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Gorące Oferty</div>
                    <div class="block-features__item-subtitle">Nawet 70% upustu</div>
                </div>
            </li>
        </ul>
    </div>
</div>
