{% for product in cartItems %}
  <tr class="cart-table__row">
    <td class="cart-table__column cart-table__column--image">
      <div class="image image--type--product">
        <a href="{{
          path(
            'product',
            {
              id: product.id
            }
          )
          }}"
          class="image__body">
          <img class="image__tag"
            src="{{
            image(
              product.product.images[0],
              {
                size: 160
              }
            )
            }}"
            alt="" />
        </a>
      </div>
    </td>
    <td class="cart-table__column cart-table__column--product">
      <a href="" class="cart-table__product-name">{{ product.product.name }}</a>
      {# {% if item.options %}
							<ul class="cart-table__options">
								{% for option in item.options %}
									<li>{{ option.name }}: {{ option.value }}</li>
								{% endfor %}
							</ul>
						{% endif %} #}
    </td>
    {# <td class="cart-table__column cart-table__column--price" data-title="Price">{{ item.price|currency }}</td> #}
    <td class="cart-table__column cart-table__column--price" data-title="Price">
      {{ product.product.price }}
      zł
    </td>
    <td class="cart-table__column cart-table__column--quantity"
      data-title="Quantity">
      <div class="cart-table__quantity input-number">
        <input class="form-control input-number__input"
          type="number"
          min="1"
          value="{{ product.product.quantity }}" />
        <div class="input-number__add"></div>
        <div class="input-number__sub"></div>
      </div>
    </td>
    {# <td class="cart-table__column cart-table__column--total" data-title="Total">{{ item.total|currency }}</td> #}
    <td class="cart-table__column cart-table__column--total" data-title="Total">
      {{ product.product.price * product.product.quantity }}
      zł
    </td>
    <td class="cart-table__column cart-table__column--remove">
      <button onclick="cartRemoveProduct(this,{{ product.id }})"
        type="button"
        class="dropcart__item-remove">
        {{ svg('cross-10.svg') }}
        <div class="dropcart__remove-loader dropcart__remove-loader--hidden btn btn-light btn-loading btn-icon"></div>
      </button>
    </td>
  </tr>
{% endfor %}
