{#
// inputs:
// - product: object - product data object
// - layout:  string - one of [grid, list, table]
// - exclude: array  - indicates which content should be excluded from the template (default: [])
#}

{% set product = inputs.product %}
{% set layout = inputs.layout %}
{% set exclude = inputs.exclude|default([]) %}

{% set root_classes = classnames('product-card') %}

{% if layout %}
	{% set root_classes = classnames(root_classes, 'product-card--layout--'~layout) %}
{% endif %}

<div class="{{ root_classes }}">
	<div class="product-card__actions-list">
		<button class="product-card__action product-card__action--quickview" type="button" aria-label="Quick view" data-id="{{product.id}}">
			{{ svg('quickview-16.svg') }}
		</button>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="/product/{{product.id}}/edition">
				<button class="product-card__action product-card__action--edit-product" type="button" aria-label="Edit product">
					<i class="fas fa-edit"></i>
				</button>
			</a>
		{% endif %}
		{% if not ('actions' in exclude) %}
			<button class="product-card__action product-card__action--wishlist" type="button" aria-label="Add to wish list">
				{{ svg('wishlist-16.svg') }}
			</button>

		{% endif %}
	</div>


	<div class="product-card__image">
		<div class="image image--type--product">
			<a href="{{ path('product', {'id': product.id})}}" class="image__body">
				<img class="image__tag" {% if product.images[0] is defined %} src="{{ image(product.images[0], {size: 245}) }}" alt="" {% endif %}>
			</a>
		</div>

		{% if not ('status-badge' in exclude) %}
			{% include '/components/status-badge.twig' with {inputs: {
                classes: 'product-card__fit',
                style: 'success',
                text: "SKU: #{product.productNumber}",
                tooltip: "SKU: #{product.productNumber}",
                icon: 'success',
            }} %}
		{% endif %}
	</div>

	<div class="product-card__info">
		{% if not ('meta' in exclude) %}
			<div class="product-card__meta">
				<span class="product-card__meta-title">SKU:</span>
				{{ product.productNumber }}</div>
		{% endif %}

		<div class="product-card__name">
			<div>


				<a href="{{ path('product', {'id': product.id})}}">{{ product.name }}</a>
			</div>
		</div>

		<div class="product-card__rating">
			{% include '/components/rating.twig' with {inputs: {
				rating: product.quantity
            }} %}

			<div class="product-card__rating-label">Stan:
				{{ product.quantity }}
				szt</div>
		</div>

		{% if not ('features' in exclude) %}
			<div class="product-card__features">
				<ul>
					{% for item in product.features %}
						<li>{{item}}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>

	<div class="product-card__footer">
		<div class="product-card__prices">
			{% if product.compareAtPrice is defined and product.compareAtPrice != null %}
				<div class="product-card__price product-card__price--new">{{ product.price }}
					zł</div>
				<div class="product-card__price product-card__price--old">{{ product.compareAtPrice }}
					zł</div>
			{% else %}
				<div class="product-card__price product-card__price--current">{{ product.price }}
					zł</div>
			{% endif %}
		</div>
		{% if not ('buttons' in exclude) %}
			<button class="product-card__addtocart-icon" type="button" aria-label="Add to cart" onclick="cartAddProduct(this,{{product.id}})">
				<div class="add-to-cart__spinner-border">
					<span class=" spinner-border spinner-border-sm text-secondary" role=" status" aria-hidden=" true"></span>
				</div>

				{{ svg('cart-20.svg') }}
			</button>
			{% if not ('list-buttons' in exclude) %}
				<button class="product-card__addtocart-full" type="button" onclick="cartAddProduct(this,{{product.id}})">
					<div class="add-to-cart__spinner-border">
						<span class=" spinner-border spinner-border-sm text-secondary" role=" status" aria-hidden=" true"></span>
					</div>

					Dodaj do koszyka
				</button>
				<button class="product-card__wishlist" type="submit">
					{{ svg('wishlist-16.svg') }}
					<span>Dodaj do ulubionych</span>
				</button>

			{% endif %}
		{% endif %}
	</div>
</div>
