<div class="suggestions__group-content">
	{% for product in searchResults %}
		<a
			class="suggestions__item suggestions__product" href="">
			{# <div class="suggestions__product-image image image--type--product">
															                                <div class="image__body">
															                                    <img class="image__tag" src="{{ image(product.images|first, {size: 40}) }}" alt="">
															                                </div>
															                            </div> #}
			<div class="suggestions__product-info">
				<div class="suggestions__product-name">{{ product.name }}</div>
				{# <div class="suggestions__product-rating">
																			                                    <div class="suggestions__product-rating-stars">
																			                                        {% include '/components/rating.twig' with {inputs: {
																			                                            rating: product.rating,
																			                                        }} %}
																			                                    </div>
																			                                    <div class="suggestions__product-rating-label">{{ product.rating }} on {{ product.reviews }} reviews</div>
																			                                </div> #}
			</div>
			{# <div class="suggestions__product-price">{{ product.price|currency }}</div> #}
		</a>
	{% endfor %}
</div>
